* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  background: white;
  padding: 0px 20px;
}

.navbar__site-name a {
  color: #489846;
  font-size: 36px;
  text-decoration: none;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
}

.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.1s;
}

.navbar__list li.active, .navbar__list li:hover {
  background: #ff7286;
}

.navbar__list li.active a,
.navbar__list li:hover a {
  color: white;
}

.navbar__list li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 24px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 12px;
}

.main-wrapper {
  min-height: calc(100vh - 300px);
}

.banner {
  position: relative;
  height: 450px;
  background: url(images/bg.jpg) center/cover no-repeat;
}

.banner:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner h1 {
  display: inline-block;
  position: relative;
  margin: 0;
  color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
}

.section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.section__title {
  display: inline-block;
  font-size: 36px;
  border-left: solid 15px #a3dea2;
  padding-left: 16px;
  margin-bottom: 36px;
}

.section__desc {
  font-size: 16px;
  line-height: 2em;
  margin: 0px 0px 68px 0px;
}

.button {
  padding: 60px 80px;
  font-size: 36px;
  color: #3e613d;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
}

.btn-order {
  background: #a8e8e1;
}

.btn-query {
  margin-left: 23px;
  background: #f9f9b5;
}

.section__images {
  display: flex;
}

.section__images div {
  width: 25%;
}

.section__images img {
  width: 100%;
}

.footer__bottom {
  background: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.footer__top {
  background: #e8efee;
  padding: 32px;
  color: #484848;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-right: 16px;
}

.footer__info div + div {
  margin-top: 10px;
}

.footer__site {
  font-size: 36px;
  color: #489846;
}

.section__comments {
  display: flex;
  margin-top: 72px;
}

.comment {
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
  border: solid 1px #c7e5ec;
  height: 220px;
  padding: 16px;
  position: relative;
}

.comment + .comment {
  margin-left: 16px;
}

.comment__avatar {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  overflow: hidden;
}

.comment__avatar img {
  width: 100%;
  height: 100%;
}

.comment__author {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment__author p {
  margin-top: 5px;
  line-height: 18px;
}

.comment__content {
  position: relative;
  top: 40%;
  line-height: 1.5em;
}

.faq-block {
  margin: 0 auto;
  max-width: 768px;
}

.faq-item {
  display: flex;
  text-align: left;
  padding-bottom: 24px;
  border-bottom: solid 1px #a6e2c0;
  overflow: hidden;
  cursor: pointer;
}

.faq-item:not(:first-child) {
  margin-top: 24px;
}

.faq-item__number {
  color: #70b282;
  font-size: 24px;
  margin-right: 16px;
  line-height: 24px;
}

.faq-item__content h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  line-height: 24px;
}

.faq-item__content p {
  font-size: 16px;
}

.faq-item--hide {
  height: 15px;
}

.hide {
  display: none;
}

.section-lottery {
  position: relative;
  height: 600px;
  background: url(images/bg.jpg) center/cover no-repeat;
}

.section-lottery.first-prize {
  background-image: url(images/first.jpg);
}

.section-lottery.second-prize {
  background-image: url(images/tv.jpg);
}

.section-lottery.third-prize {
  background-image: url(images/yt.jpg);
}

.section-lottery.none-prize {
  background: black;
  color: white;
}

.section-lottery:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lottery-result {
  position: relative;
  color: white;
  max-width: 800px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lottery-result__title {
  margin-bottom: 48px;
  font-size: 36px;
}

.lottery-result__btn {
  color: white;
  max-width: 330px;
  text-align: center;
  background: #e62a45;
  padding: 16px 0px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
}

.lottery-info {
  max-width: 500px;
  background: white;
  position: relative;
  margin: 0;
  color: white;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lottery-info {
  text-align: center;
  padding: 40px 40px 24px 20px;
  border-radius: 16px;
  color: #322929;
}

.lottery-info__title {
  font-size: 24px;
  font-weight: bold;
  color: #5ec1b6;
  margin-bottom: 24px;
}

.lottery-info__detail {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-size: 16px;
}

.lottery-info__detail-title {
  font-weight: bold;
  font-size: 18px;
  width: 90px;
}

.lottery-info__detail-content {
  margin-left: 12px;
  flex: 1;
  text-align: left;
  line-height: 1.5em;
}

.lottery-info__btn {
  color: white;
  width: 80%;
  text-align: center;
  background: #e62a45;
  padding: 16px 0px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
}

@media(max-width: 768px) {
  .navbar .wrapper {
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }

  .navbar__site-name {
    margin-top: 10px;
  }

  .navbar__list {
    display: flex;
    width: 100%;
  }

  .navbar__list li {
    flex: 1;
    margin-left: 0;
    border-radius: 0;
    text-align: center;
  }

  .btn-query {
    margin-left: 0;
    margin-top: 16px;
  }

  .section__images {
    flex-direction: column;

  }

  .section__images div {
    width: 100%;
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin-right: 0;
    margin-top: 16px;
  }

  .section__comments {
    flex-direction: column;
  }

  .comment + .comment {
    margin-left: 0;
    margin-top: 82px;
  }

  .lottery-info {
    transform: none;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}
