* {
  box-sizing: border-box;
}

.navbar {
  height: 80px;
}

.navbar__site-name {
  font-size: 28px;
  font-weight: bold;
}

.navbar__site-name a {
  text-decoration: none;
  color: #333333;
}

.navbar__list {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.navbar__list > div {
  display: flex;
}

.navbar__list li {
  margin-left: 21px;
}

.navbar__list a {
  text-decoration: none;
  color: #787878;
  font-size: 16px;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 12px;
}

.banner {
  background-image: linear-gradient(to top, #000000, #434343);
  height: 240px;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner__wrapper > div {
  margin-top: 26px;
}


.banner h1 {
  font-size: 28px;
  margin: 0;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 138px;
  min-height: calc(100vh - 350px);
}

.posts, .container {
  background: white;
  padding: 6px;
  display: inline-flex;
  margin: 0 auto;
  margin-top: -30px;
  flex-direction: column;
}

.post {
  width: 900px;
  padding: 30px;
  border: solid 1px #9a9a9a;
}

.post + .post {
  margin-top: 24px;
}

.post__header {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__action {
  padding: 3px 12px;
  border: solid 1px #a8a8a8;
  color: #a8a8a8;
  text-decoration: none;
  font-size: 14px;
}

.post__info {
  margin-top: 19px;
  padding: 12px 22px;
  background: #eee;
}

.post__content {
  margin-top: 17px;
  white-space: pre-line;
  line-height: 1.5em;
}

.btn-read-more {
  display: inline-block;
  padding: 12px 16px;
  border: solid 1px #737373;
  color: #737373;
  margin-top: 36px;
  text-decoration: none;
}

.login-wrapper {
  margin: 0 auto;
  border: solid 1px #000000;
  width: 527px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 72px;
  margin-top: -30px;
  background: white;
}

.login-wrapper form {
  width: 100%;
}

.login-wrapper input {
  width: 100%;
}

.input__field {
  margin-top: 16px;
  height: 40px;
}

.login-wrapper input[type=submit] {
  height: 56px;
  background-image: linear-gradient(to top, #000000, #434343);
  color: white;
  margin-top: 73px;
}

.login-wrapper h2 {
  font-size: 32px;
  font-weight: normal;
}

.input__wrapper + .input__wrapper {
  margin-top: 23px;
}

.input__label {
  font-size: 14px;
  margin-left: 21px;
}

.edit-post {
  width: 900px;
  padding: 30px;
  border: solid 1px #9a9a9a;
}

.edit-post__title {
  font-size: 20px;
}

.edit-post__input-wrapper {
  width: 100%;
  margin-top: 28px;
}

.edit-post__input-wrapper input, .edit-post__input-wrapper textarea {
  width: 100%;
  padding: 6px;
}

.edit-post__btn-wrapper {
  text-align: right;
}

.edit-post__btn {
  display: inline-block;
  padding: 10px 39px;
  border: solid 1px #737373;
  color: #737373;
  cursor: pointer;
  margin-top: 25px;
}

.admin-post {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9a9a9a;
  font-size: 14px;
  width: 920px;
}

.admin-post__title {
  font-size: 16px;
  margin-left: 16px;
}

.admin-post__info {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.admin-post__created-at {
  color: #8f8f8f;
}

.admin-post__btn {
  padding: 4px 8px;
  border: 1px solid #a8a8a8;
  color: #a8a8a8;
  cursor: pointer;
  margin-left: 8px;
  text-decoration: none;
}

.admin-post__btn:last-child {
  margin-right: 16px;
}

footer {
  padding: 10px 0px;
  background-color: #323232;
  font-size: 14px;
  color: white;
  text-align: center;
}

